<h1>This is an todo page</h1>

<input
  type="text"
  [(ngModel)]="filter"
  (change)="filterResult(filter)"
  pInputText
/>
<p>Show:{{ filter }}</p>
<p>all, active, done</p>

<ul>
  <li *ngFor="let item of todoArr">
    Id:{{ item?.tId }}<br />
    content:{{ item?.content }}<br />
    Done:{{ item?.done }}<br />
  </li>
</ul>

<!-- Table 資料欄位 -->
<div class="row">
  <p-table
    #dtExhibit
    [columns]="colShareList"
    [value]="shareList"
    [rowHover]="true"
    [(selection)]="selectRow"
    dataKey="Sort"
    [paginator]="true"
    [pageLinks]="10"
    selectionMode="single"
    [scrollable]="true"
    [rows]="10"
    [resizableColumns]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="顯示 {first} 至 {last} 筆，共 {totalRecords} 筆資料"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
          <th scope="col" *ngSwitchDefault pSortableColumn="{{ col.field }}">
            {{ col.header }}
            <p-sortIcon field="{{ col.field }}"></p-sortIcon>
          </th>

          <th scope="col" *ngSwitchCase="'Function'">
            {{ col.header }}
          </th>
        </ng-container>
      </tr>
      <tr>
        <th scope="col" *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchDefault pInputText type="text" placeholder="請輸入" />

          <div *ngSwitchCase="'Select'">
            <p-tableHeaderCheckbox
              (click)="checkSelectedTestUser()"
            ></p-tableHeaderCheckbox>
          </div>

          <div *ngSwitchCase="'Function'"></div>
        </th>
      </tr>
    </ng-template>

    <!-- 表格Body 顯示 -->
    <ng-template
      pTemplate="body"
      let-rowData
      let-columns="columns"
      let-index="rowIndex"
    >
      <tr>
        <td
          *ngFor="let col of columns"
          class="ui-resizable-column"
          [ngSwitch]="col.field"
        >
          <ng-container *ngSwitchDefault>
            {{ rowData[col.field] }}
          </ng-container>

          <ng-container *ngSwitchCase="'Select'">
            <p-tableCheckbox
              [value]="rowData"
              (click)="checkSelectedTestUser()"
            ></p-tableCheckbox>
          </ng-container>

          <ng-container *ngSwitchCase="'Function'">
            <div class="btn__action">
              <button
                pButton
                pRipple
                label="編輯"
                type="button"
                class="p-button-ingo p-ripple"
              ></button>

              <button
                pButton
                pRipple
                label="刪除"
                type="button"
                class="p-button-danger p-ripple"
              ></button>
            </div>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="11" class="text-center">查無符合的項目</td>
      </tr>
    </ng-template>
  </p-table>
</div>
