<p-toast></p-toast>
<!-- Table 資料欄位 -->
<div class="row justify-content-center mt-5 p-5">
  <div class="col-lg-9 col-md-12 card p-2">
    <h2 class="p-3 font-weight-bold">Angular Todo List</h2>
    <div class="row no-gutters justify-content-start p-3">
      <div class="col-8 pr-3">
        <input
          class="w-100"
          type="text"
          [(ngModel)]="inputContent"
          pInputText
        />
      </div>

      <div class="col-4 px-3">
        <button
          pButton
          icon=""
          type="button"
          label="建立"
          class="p-button-primary mr-3"
          [disabled]="!inputContent"
          (click)="buildTodo(inputContent)"
        ></button>
      </div>

      <div class="col-12 row mb-4 py-4 align-items-baseline flex-wrap">
        <label for="userName" class="col-lg-2 col-sm-12 col-form-label"
          >Filter Todo：
        </label>
        <div class="col-sm-10 d-flex flex-wrap">
          <div
            class="col-lg-1 col-md-3 col-sm-12 mr-2 d-flex align-items-baseline mr-5 cursor-pointer"
          >
            <p-radioButton
              name="filter_1"
              [(ngModel)]="filter"
              value="all"
              inputId="filter_1"
              (onClick)="filterResult(filter)"
            ></p-radioButton>
            <label for="filter_1" class="cursor-pointer ml-3">All</label>
          </div>

          <div
            class="col-lg-1 col-md-3 col-sm-12 mr-2 d-flex align-items-baseline mr-5 cursor-pointer"
          >
            <p-radioButton
              name="filter_2"
              [(ngModel)]="filter"
              value="active"
              inputId="filter_2"
              (onClick)="filterResult(filter)"
            ></p-radioButton>
            <label for="filter_2" class="cursor-pointer ml-3">Active</label>
          </div>

          <div
            class="col-lg-1 col-md-3 col-sm-12 mr-2 d-flex align-items-baseline cursor-pointer"
          >
            <p-radioButton
              name="filter_3"
              [(ngModel)]="filter"
              value="done"
              inputId="filter_3"
              (onClick)="filterResult(filter)"
            ></p-radioButton>
            <label for="filter_3" class="cursor-pointer ml-3">Done</label>
          </div>
        </div>
      </div>
    </div>

    <p-table
      #dtExhibit
      dataKey="tId"
      [columns]="colShareList"
      [value]="shareList"
      [(selection)]="selectedRows"
      selectionMode="single"
      styleClass="p-datatable-customers"
      [rowHover]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" />
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
            <th scope="col" *ngSwitchDefault pSortableColumn="{{ col.field }}">
              {{ col.header }}
              <p-sortIcon field="{{ col.field }}"></p-sortIcon>
            </th>

            <th scope="col" *ngSwitchCase="'select'">
              {{ col.header }}
            </th>

            <th scope="col" *ngSwitchCase="'function'">
              {{ col.header }}
            </th>
          </ng-container>
        </tr>
        <tr>
          <th scope="col" *ngFor="let col of columns" [ngSwitch]="col.field">
            <input
              *ngSwitchDefault
              pInputText
              type="text"
              placeholder="請輸入"
              (input)="applyFilterGlobal($event, 'contains')"
            />

            <div *ngSwitchCase="'select'">
              <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
            </div>

            <div *ngSwitchCase="'function'"></div>
          </th>
        </tr>
      </ng-template>
      <!-- 表格Body 顯示 -->
      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-index="rowIndex"
      >
        <tr>
          <td
            *ngFor="let col of columns"
            class="ui-resizable-column"
            [ngSwitch]="col.field"
          >
            <ng-container *ngSwitchDefault>
              <span [ngClass]="{ 'add-line': rowData.done === true }">
                {{ rowData[col.field] }}
              </span>
            </ng-container>

            <ng-container *ngSwitchCase="'select'">
              <p-tableCheckbox
                [value]="rowData"
                (click)="selectRow(rowData)"
              ></p-tableCheckbox>
            </ng-container>

            <ng-container *ngSwitchCase="'function'">
              <div class="btn__action">
                <button
                  pButton
                  pRipple
                  label="編輯"
                  type="button"
                  class="p-button-ingo p-ripple mr-3"
                  [disabled]="rowData.done"
                  (click)="doUpdate(rowData)"
                ></button>

                <button
                  pButton
                  pRipple
                  label="刪除"
                  type="button"
                  class="p-button-danger p-ripple"
                  (click)="prepareDelete(rowData)"
                ></button>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-center">查無符合的項目</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Dailog delete Todo -->
<p-confirmDialog #cd [key]="'confirm'" [style]="{ width: '50vw' }">
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="確認"
      type="button"
      class="p-button-info p-ripple"
      (click)="cd.accept()"
    ></button>
    <button
      pButton
      pRipple
      label="取消"
      type="button"
      class="p-button-danger p-ripple"
      (click)="cd.reject()"
    ></button>
  </ng-template>
</p-confirmDialog>

<!-- Dailog edit todo -->
<p-dialog
  header="Edit Todo"
  [(visible)]="displayEdit"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [dismissableMask]="false"
  [draggable]="false"
>
  <form [formGroup]="editForm">
    <div class="row">
      <label for="contentInput" class="col-sm-4 col-form-label">
        content：
      </label>
      <div class="col-sm-7">
        <input
          method="post"
          autocomlete="off"
          formControlName="content"
          id="contentInput"
          class="form-control"
          type="text"
          placeholder="請輸入..."
          pInputText
          minlength=""
          maxlength="60"
          [attr.disabled]="false ? '' : null"
        />
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="確認"
      type="button"
      class="p-button-info p-ripple"
      [disabled]="editForm.invalid"
      (click)="confirmUpdate()"
    ></button>

    <button
      pButton
      pRipple
      label="取消"
      type="button"
      class="p-button-danger p-ripple"
      (click)="displayEdit = false"
    ></button>
  </ng-template>
</p-dialog>

<!-- loading -->
<p-blockUI [blocked]="$any(this.layoutService.pageLoading$ | async)">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>
